a {

}
#hero-banner {
    background-image: url('assets/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}
#banner-header nav ul li {
    /*float: left;*/
    padding: 5px;
    text-decoration: none;
    list-style: none;
}

#banner-header nav ul li a {
  color: black;
}

#banner-header nav ul li a {
    text-decoration: none;
}
#banner-header nav ul li a:hover {
    /*color: grey;*/
    /*text-decoration: underline;*/
}
#banner-header nav {
    float: right;
    padding: 15px;
}

#banner-header .navbar-default {
  background-color: white;
}

header#banner-header {
    height: 91px;
    color: black;
}
#banner-header #title {
    float: left;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
#banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}
#banner-text-wrapper {
    text-align: center;
}
#banner-text #banner-text-wrapper h1 {
    color: white;
    background-color: grey;
    margin: 0;
    margin-bottom: 30px;
}
#banner-text #banner-text-wrapper a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 9px;
    background: transparent;
    transition: all .4s linear;
}
#banner-text #banner-text-wrapper a:hover {
    background-color: dodgerblue;
    transition: all .4s linear;
}
#first-section {
    background-color: dodgerblue;
    height: 200px;
    width: 100%;
    padding-top: 15px;
}
#first-section h1 {
    margin: 0;
    font-size: 1em;
    text-align: center;
    color: white;
}
#first-section p {
    text-align: center;
    color: white;
    font-size: 0.9em;
}
#icons {
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-icon {
    width: 33%;
    font-size: 2em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.icons-icon i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer {
  background-color: grey;
  font-size: 2.5em;
  text-align: center;
  height: 50px;
}

#second-section {
    height: auto;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#images-wrapper {
    width: 1200px;
    margin: auto;
}

.col-image img {
    width: 100%;
    transition: ease-out 0.2s;
    transform: scale(1);
    opacity: 1;
}

.col-image img:hover {
  transition: ease-out 0.2s;
  transform: scale(1.1);
  opacity: 0.7;
}

.col {
  width: 33.33%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

footer a i {
  transform: rotate(0deg);
  transition: linear .3s;
}

footer a i:hover {
  transform: rotate(180deg);
  transition: linear .3s;
}

@media screen and (max-width: 1230px){
  .col {
    width: 50%;
  }
}

.group:after {
  content: "";
  display: block;
  clear:both;
}

.col-image img {
  margin: 15px;
}

#first-section .row div {
  text-align: center;
}
