#first-section {
    background-color: dodgerblue;
    height: 200px;
    width: 100%;
    padding-top: 15px;
}
#first-section h1 {
    margin: 0;
    font-size: 1em;
    text-align: center;
    color: white;
}
#first-section p {
    text-align: center;
    color: white;
    font-size: 0.9em;
}
#icons {
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-icon {
    width: 33%;
    font-size: 2em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.icons-icon i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#second-section {
    height: auto;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#images-wrapper {
    width: 1200px;
    margin: auto;
}
.col-image img {
    width: 100%;
    transition: ease-out 0.2s;
    transform: scale(1);
    opacity: 1;
}
.col-image img:hover {
    transition: ease-out 0.2s;
    transform: scale(1.1);
    opacity: 0.7;
}
.col {
    width: 33.33%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
@media screen and (max-width: 1230px) {
    /*.col {
    width: 50%;
  }*/
}
.group:after {
    content: "";
    display: block;
    clear: both;
}
.col-image img {
    margin-bottom: 15px;
}
#first-section .row div {
    text-align: center;
}
