#hero-banner {
    background-image: url('../assets/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}
#banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}
#banner-text-wrapper {
    text-align: center;
}
#banner-text #banner-text-wrapper h1 {
    color: white;
    background-color: grey;
    margin: 0;
    margin-bottom: 30px;
}
#banner-text #banner-text-wrapper a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 9px;
    background: transparent;
    transition: all .4s linear;
    color: white;
}
#banner-text #banner-text-wrapper a:hover {
    background-color: dodgerblue;
    transition: all .4s linear;
}
.upper-text {
    margin: 15px;
    font-weight: bold;
}
.products .thumbnail {
    padding: 0px;
    border-radius: 15px 15px 0px 0px;
    border: 0px;
}
.products .thumbnail img {
    border-radius: 15px 15px 0px 0px;
    transition: ease-out 0.2s;
    transform: scale(1);
    opacity: 1;
}
.products .thumbnail img:hover {
    transition: ease-out 0.2s;
    transform: scale(0.97);
    opacity: 0.7;
}
.products .caption {
    font-weight: bold;
    box-shadow: #e4e4e4 0px 3px 0px;
    background-color: #fdfdfd;
    border-radius: 0px 0px 15px 15px;
}
.products .thumbnail p {
    font-size: 20px;
}
#right-side {
    padding: 0px;
    margin: 0px;
}
#right-side li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cacaca;
    list-style: none;
}
#right-side li .row:last-child {
    font-weight: bold;
    font-size: 16px;
}
.sold-tag {
    position: absolute;
    top: -25px;
    right: 0;
    border-radius: 50%;
    font-size: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
